nav {
  text-align: center;
  background-color: rebeccapurple;
  font-size: 24px;
  height: 40px;
}

nav a {
  color: whitesmoke;
  text-decoration: none;
  padding: 8px 20px;
}

main {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: rebeccapurple;
}

li {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

input {
  margin-right: 20px;
}
